<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511122720929-0k8l1ujllnc2akvp0nhj57bvailrjgla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511122720929-0k8l1ujllnc2akvp0nhj57bvailrjgla</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>511122720929-p8rllgr5edjjajc7f3dti09d1htahrhn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7feythcBCSw8125jGjf7OWUIAm3j9k78</string>
	<key>GCM_SENDER_ID</key>
	<string>511122720929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timilehinjegede.chatbot</string>
	<key>PROJECT_ID</key>
	<string>course-guide-chatbot-7fd6c</string>
	<key>STORAGE_BUCKET</key>
	<string>course-guide-chatbot-7fd6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511122720929:ios:3ba590ad978d24aa2888e0</string>
</dict>
</plist>